/********** Template CSS **********/
:root {
    --primary: #7695ff;
    --light: #F0FBFC;
    --light: #f0e4de;
    --dark: #181d38;
}

.btn {
    background-color: #fb873f;
    border: none;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background: transparent;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}

.btn:hover a {
    color: var(--primary) !important;
}

.btn-light {
    background-color: var(--light);
}

.btn-light:hover {
    background: transparent;
    color: var(--light) !important;
    border: 1px solid var(--light);
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar-toggler-icon {
    color: #fb873f;
}

.navbar-toggler {
    border: 2px solid #fb873f;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*** Header carousel ***/

.header-carousel .owl-carousel-item {
    position: relative;
    height: 100vh;
}

.header-carousel p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 1300px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 80vh;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 430px) {

    .header-carousel .owl-carousel-item {
        position: relative;
        height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .header-carousel p {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

/*** Enrollment ***/
.enrolled-course-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
}
.enrolled-course-item h5 {
    margin: 0 0 10px;
    color: #333;
}
.enrolled-course-item p {
    margin: 0;
    color: #666;
}



/*** Service (effect on home page)***/
.service-item {
    transition: .5s;
}


.service-item i {
    color: var(--primary);
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: all .3s ease-in-out;
}

.service-item:hover * {
    color: #fff !important;
}

.course-item img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}



/* Login category */
.google-login, .facebook-login {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.google-login {
    background-color: #db4a39;
}
.google-login:hover, .facebook-login:hover{
    background: transparent;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
}

.facebook-login {
    background-color: #3b5998;
}
.social-login p {
    margin: px 0 10px;
}
